<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auction Bid & Buy</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <header>
        <div class="logo">
          <a href="#"><img src="Group 1.svg" alt="logo" /></a>
        </div>
        <div class="navigation">
          <p>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Company</a>
            <a href="#">Bidding Lists</a>
            <a href="#">Contact Us</a>
          </p>
        </div>
      </header>
      <center>
        <form action="">
          <h2>Create Your Account</h2>
          <input placeholder="Enter your Username" type="username" required />
          <br /><br />
          <input placeholder="Enter your Email Id" type="email" required />
          <br /><br />
          <input placeholder="Enter your Password" type="password" required />
          <br />
          <div class="container">
            <h5>
              By clicking create,you agree to the
              <a href="#terms and services">terms and services</a> and
              <a href="#privacy policy">privacy policy</a> of our Bid & Buy.
            </h5>
          </div>
          <br />
          <button type="submit">submit</button>
          <h5>
            Already have account?
            <a href="Signin.html">Sign in</a>
          </h5>
        </form>
      </center>
    </div>
  </body>
</html>
