<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <header>
        <div class="logo">
          <a href="#"><img src="hit1.svg" alt="logo" /></a>
        </div>
        <div class="navigation">
          <p>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Company</a>
            <a href="#">Bidding Lists</a>
            <a href="#">Contact Us</a>
          </p>
        </div>
      </header>
          <center>
            <form method="POST">
            <h2>User Login</h2>
                    <input placeholder="Email or Username" type="email" required />
            <br /><br />
            <input placeholder="Enter your Password" type="password" required />
            <br /><br />
        <button type="submit">Sign In</button>
        <br />
        <p class="signup-link">
          Don't have an account? <a href="index.html">Sign Up</a>
        </p>
        <div class="forgot-password">
          <a href="forgotpass.html">Forgotten Password</a>
        </div>
      </form>
    </div>
  </body>
</html>
